# app   origin  target  rename
all; ;  1_Raw_data;
all; ;  2_Processed_data;
all; ;  3_Reports;
all; ;  compressed_tars;
all; GPM_FASTQ; 1_Raw_data; fastq

# RNAseq
RNAseq;  nfcore/results/fastqc;   1_Raw_data;
RNAseq;  nfcore/results/star_salmon/bigwig;   2_Processed_data;
RNAseq;  nfcore/results/star_salmon/*.bam*;   2_Processed_data/bam;
RNAseq;  nfcore/results/star_salmon/salmon.merged*tsv;   2_Processed_data/salmon_quatification;
RNAseq;  nfcore/results/star_salmon/salmon.merged*rds;   2_Processed_data/salmon_quatification;
RNAseq;  nfcore/results/multiqc/star_salmon;   3_Reports; multiqc
RNAseq;  analysis;   3_Reports;

# tRNAseq
tRNAseq;  nfcore/results/fastqc;   1_Raw_data;
tRNAseq;  nfcore/results/star_salmon/bigwig;   2_Processed_data;
tRNAseq;  nfcore/results/star_salmon/*.bam*;   2_Processed_data/bam;
tRNAseq;  nfcore/results/star_salmon/salmon.merged*tsv;   2_Processed_data/salmon_quatification;
tRNAseq;  nfcore/results/star_salmon/salmon.merged*rds;   2_Processed_data/salmon_quatification;
tRNAseq;  nfcore/results/multiqc/star_salmon;   3_Reports; multiqc
tRNAseq;  analysis;   3_Reports;

# 3mRNAseq
3mRNAseq;  nfcore/results/fastqc;   1_Raw_data;
3mRNAseq;  nfcore/results/star_salmon/bigwig;   2_Processed_data;
3mRNAseq;  nfcore/results/star_salmon/*.bam*;   2_Processed_data/bam;
3mRNAseq;  nfcore/results/star_salmon/salmon.merged*tsv;   2_Processed_data/salmon_quatification;
3mRNAseq;  nfcore/results/star_salmon/salmon.merged*rds;   2_Processed_data/salmon_quatification;
3mRNAseq;  nfcore/results/multiqc/star_salmon;   3_Reports; multiqc
3mRNAseq;  analysis;   3_Reports;

# mRNAseq
mRNAseq;  nfcore/results/fastqc;   1_Raw_data;
mRNAseq;  nfcore/results/star_salmon/bigwig;   2_Processed_data;
mRNAseq;  nfcore/results/star_salmon/*.bam*;   2_Processed_data/bam;
mRNAseq;  nfcore/results/star_salmon/salmon.merged*tsv;   2_Processed_data/salmon_quatification;
mRNAseq;  nfcore/results/star_salmon/salmon.merged*rds;   2_Processed_data/salmon_quatification;
mRNAseq;  nfcore/results/multiqc/star_salmon;   3_Reports; multiqc
mRNAseq;  analysis;   3_Reports;

# miRNAseq
miRNAseq;  nfcore/results/fastqc;   1_Raw_data;
miRNAseq;  nfcore/results;   2_Processed_data; nfcore_smrnaseq_results
miRNAseq;  analysis;   3_Reports;

# ChIPseq
ChIPseq;  nfcore/results/fastqc;   1_Raw_data;
ChIPseq;  nfcore/results/bwa/mergedLibrary/bigwig;   2_Processed_data;
ChIPseq;  nfcore/results/bwa/mergedLibrary/*.bam*;   2_Processed_data/bam;
ChIPseq;  nfcore/results/bwa/mergedLibrary/macs;   2_Processed_data;
ChIPseq;  nfcore/results/bwa/mergedLibrary/deepTools;   2_Processed_data;
ChIPseq;  nfcore/results/multiqc/*Peak;   3_Reports; multiqc
ChIPseq;  analysis;   3_Reports;

# BWGS
BWGS;  nfcore/results/*/FastQC/*;   1_Raw_data/FastQC;
BWGS;  nfcore/results/*/trimming/shortreads/*;   2_Processed_data/trimmed_reads;
BWGS;  nfcore/results/*/Unicycler/*;   2_Processed_data/assembly;
BWGS;  nfcore/results/*/Kraken2/*;   2_Processed_data/Kraken2;
BWGS;  nfcore/results/*/Prokka/*/*.gff;   2_Processed_data/Prokka;
BWGS;  nfcore/results/QUAST;   2_Processed_data;
BWGS;  nfcore/results/multiqc ;   3_Reports; multiqc
BWGS;  analysis;   3_Reports;

# scRNAseq
scRNAseq;  nfcore/results/fastqc;   1_Raw_data;
scRNAseq;  nfcore/cellranger;   2_Processed_data;
scRNAseq;  nfcore/results/multiqc ;   3_Reports;
scRNAseq;  analysis;   3_Reports;

# scVDJseq
scVDJseq;  cellranger/multi_output/*;   2_Processed_data;
scVDJseq;  multiqc ;   3_Reports;
scVDJseq;  analysis;   3_Reports;