# app;   command; origin;  target_dir;  rename;
all;    init;   ;  data;
all;    init;   ;  analysis;
all; init;   ;  nfcore;
all; init;   GPMDATA/nextflow.config;  nfcore;
all; analysis;   analysis/functions.R;  analysis;
all; analysis;   analysis/references.bib;  analysis; 
all; analysis;   analysis/RWTH_IZKF_GF_Logo_rgb.png;  analysis; 

# RNAseq
RNAseq; init;   ;  nfcore;
RNAseq; init;   nfcore/run_nfcore_rnaseq.sh;  nfcore;
RNAseq; analysis;   analysis/Analysis_Report_RNAseq.Rmd;  analysis;
RNAseq; analysis;   analysis/DGEA_correlation_analysis.Rmd;  analysis;
RNAseq; analysis;   analysis/DGEA_template.Rmd;  analysis;
RNAseq; analysis;   analysis/DGEA_Geneset_Comparisons.Rmd;  analysis;
RNAseq; analysis;   analysis/GO_analyses.Rmd;  analysis;
RNAseq; analysis;   analysis/GO_integration.Rmd;  analysis;

# tRNAseq
tRNAseq; init;   ;  nfcore;
tRNAseq; init;   nfcore/run_nfcore_rnaseq.sh;  nfcore;
tRNAseq; analysis;   analysis/Analysis_Report_RNAseq.Rmd;  analysis;
tRNAseq; analysis;   analysis/DGEA_correlation_analysis.Rmd;  analysis;
tRNAseq; analysis;   analysis/DGEA_template.Rmd;  analysis;
tRNAseq; analysis;   analysis/DGEA_Geneset_Comparisons.Rmd;  analysis;
tRNAseq; analysis;   analysis/GO_analyses.Rmd;  analysis;
tRNAseq; analysis;   analysis/GO_integration.Rmd;  analysis;

# 3mRNAseq
3mRNAseq; init;   ;  nfcore;
3mRNAseq; init;   nfcore/run_nfcore_3mrnaseq.sh;  nfcore;
3mRNAseq; analysis;   analysis/Analysis_Report_RNAseq.Rmd;  analysis;
3mRNAseq; analysis;   analysis/DGEA_correlation_analysis.Rmd;  analysis;
3mRNAseq; analysis;   analysis/DGEA_template.Rmd;  analysis;
3mRNAseq; analysis;   analysis/DGEA_Geneset_Comparisons.Rmd;  analysis;
3mRNAseq; analysis;   analysis/GO_analyses.Rmd;  analysis;
3mRNAseq; analysis;   analysis/GO_integration.Rmd;  analysis;

# mRNAseq
mRNAseq; init;   ;  nfcore;
mRNAseq; init;   nfcore/run_nfcore_rnaseq.sh;  nfcore;
mRNAseq; analysis;   analysis/Analysis_Report_RNAseq.Rmd;  analysis;
mRNAseq; analysis;   analysis/DGEA_correlation_analysis.Rmd;  analysis;
mRNAseq; analysis;   analysis/DGEA_template.Rmd;  analysis;
mRNAseq; analysis;   analysis/DGEA_Geneset_Comparisons.Rmd;  analysis;
mRNAseq; analysis;   analysis/GO_analyses.Rmd;  analysis;
mRNAseq; analysis;   analysis/GO_integration.Rmd;  analysis;

# ChIPseq
ChIPseq; init;   ;  nfcore;
ChIPseq; init;   nfcore/run_nfcore_chipseq.sh;  nfcore;
ChIPseq; analysis;   analysis/Analysis_Report_ChIPseq.Rmd;  analysis;

# ATACseq
ATACseq; init;   ;  nfcore;
ATACseq; init;   nfcore/run_nfcore_atacseq.sh;  nfcore;

# miRNAseq
miRNAseq; init;   ;  nfcore;
miRNAseq; init;   nfcore/run_nfcore_mirnaseq.sh;  nfcore;
miRNAseq; analysis;   analysis/Analysis_Report_miRNAseq.Rmd;  analysis;
miRNAseq; analysis;   analysis/DEA_miRNA_1.Rmd;  analysis;

# ampliseq
ampliseq; init;   ;  nfcore;
ampliseq; init;   nfcore/run_nfcore_ampliseq.sh;  nfcore;

# BWGS
BWGS; init;   ;  nfcore;
BWGS; init;   nfcore/run_nfcore_BWGS.sh;  nfcore;
BWGS; analysis;   analysis/Analysis_Report_BWGS.Rmd;  analysis;

# WES

# scRNAseq
scRNAseq; init;   ;  nfcore;
scRNAseq; init;   nfcore/run_nfcore_scrnaseq.sh;  nfcore;

# scVDJseq
scVDJseq; init;   ;  cellranger;
scVDJseq; init;   cellranger/run_cellranger_scVDJseq.sh;  cellranger;
scVDJseq; init;   cellranger/multi_config.csv;  cellranger;
