[GPM]
APPLICATIONS = ["RNAseq", "tRNAseq", "mRNAseq", "3mRNAseq", "ChIPseq", "ATACseq", "ampliseq", "scRNAseq", "miRNAseq", "BWGS", "WES"])
EXPORT_URL = https://genomics.rwth-aachen.de/data/
SYMLINK_From_Web2Comp = /mnt/nextgen3/
Linux_GROUPNAME = genomics
file_tree_ignore = ["nfcore/results/", "nfcore/work/", "nfcore/.nextflow/"]

[Clean]
patterns = ["*.fastq.gz", "*/*.fastq.gz", "nfcore/work"]

[Rmd]
authors = ["Gan Lin, Genomics Facility, lgan@ukaachen.de", "Chao-Chung Kuo, Genomics Facility, ckuo@ukaachen.de"]
institute_logo = RWTH_IZKF_GF_Logo_rgb.png