params {
  config_profile_url = 'http://genomics.rwth-aachen.de'
  config_profile_description = 'Nextgen3 IZKF'
  // config_profile_contact = 'Lin Gan'
  // config_profile_contact = 'Chao-Chung Kuo'
  // email = 'ckuo@ukaachen.de'
  // email = 'lgan@ukaachen.de'
}

params {
  max_time = 14.d
  max_cpus = 50
  max_memory = 500.GB
  igenomes_base = '/data/igenomes/'
  seq_center = 'IZKF Genomics Facility'
  genomes {
    'gencode_hg38' {
      fasta  = '/data/genomes/hg38/GRCh38.primary_assembly.genome.fa'
      gtf = '/data/genomes/hg38/gencode.v38.annotation.sorted.gtf'
      transcript_fasta = '/data/genomes/hg38/gencode.v38.transcripts.fa'
      star = '/data/genomes/hg38/STAR_index'
      salmon = '/data/genomes/hg38/salmon_index'
      gencode = true
      blacklist = '/data/genomes/blacklisted_regions/hg38-blacklist.bed'
    }
    'gencode_mm10' {
      fasta  = '/data/genomes/mm10/GRCm39.primary_assembly.genome.fa'
      gtf = '/data/genomes/mm10/gencode.vM27.annotation.gtf'
      transcript_fasta = '/data/genomes/mm10/gencode.vM27.transcripts.fa'
      star = '/data/genomes/mm10/STAR_index'
      salmon = '/data/genomes/mm10/salmon_index'
      gencode = true
      blacklist = '/data/genomes/blacklisted_regions/mm10-blacklist.bed'
    }
    'gencode_GRCm39' {
      fasta  = '/data/genomes/GRCm39/GRCm39.primary_assembly.genome.fa'
      gtf = '/data/genomes/GRCm39/gencode.vM31.annotation.gtf'
      transcript_fasta = '/data/genomes/GRCm39/gencode.vM31.transcripts.fa'
      star = '/data/genomes/GRCm39/STAR_index'
      salmon = '/data/genomes/GRCm39/salmon_index'
      gencode = true
      blacklist = '/data/genomes/blacklisted_regions/mm10-blacklist.bed'
    }
    'gencode_GRCm38' {
      fasta  = '/data/genomes/GRCm38/GRCm38.p6.genome.fa'
      gtf = '/data/genomes/GRCm38/gencode.vM25.annotation.gtf'
      transcript_fasta = '/data/genomes/GRCm38/gencode.vM25.transcripts.fa'
      star = '/data/genomes/GRCm38/STAR_index'
      salmon = '/data/genomes/GRCm38/salmon_index'
      gencode = true
      blacklist = '/data/genomes/blacklisted_regions/mm10-blacklist.bed'
    }
  
}
}

// params {
//     modules {
//         'star_align' {
//             args            = "--quantMode TranscriptomeSAM --twopassMode Basic --outSAMtype BAM Unsorted --readFilesCommand zcat --runRNGseed 0 --outFilterMultimapNmax 20 --alignSJDBoverhangMin 1 --outSAMattributes NH HI AS NM MD --quantTranscriptomeBan Singleend --outFilterScoreMinOverLread 0.3 --outFilterMatchNminOverLread 0.3 --outFilterMismatchNmax 2"
//             publish_dir     = "${params.aligner}"
//             publish_files   = ['out':'log', 'tab':'log']
//         }
//     }
// }
